actions:
  post:
    omf-install: NONINTERACTIVE=1 fish -c "$(curl https://raw.githubusercontent.com/oh-my-fish/oh-my-fish/master/bin/install)"
    agnoster-install: fish -c 'omf install agnoster'
    bat-build-cache: bat cache --build
    spacemacs-install: git clone https://github.com/syl20bnr/spacemacs ~/.emacs.d
    update-desktop-database: update-desktop-database ~/.local/share/applications/
config:
  backup: true
  banner: true
  create: true
  dotpath: dotfiles
  keepdot: false
  link_dotfile_default: link
  longkey: false
  link_on_import: nolink
  minversion: 0.30.0
variables:
  i3gaps: false
  i3bordersize: 2
  i3gapsize: 10
  i3fontsize: 8
  i3barposition: bottom
dynvariables:
  sslcertificates: if [ -f /etc/ssl/certs/ca-bundle.crt ]; then echo "/etc/ssl/certs/ca-bundle.crt"; else echo "/etc/ssl/certs/ca-certificates.crt"; fi
dotfiles:
  d_bat:
    dst: ~/.config/bat
    src: config/bat
    actions:
    - bat-build-cache
  d_dunst:
    dst: ../.config/dunst
    src: config/dunst
  d_fish:
    dst: ~/.config/fish
    src: config/fish
    actions:
    - omf-install
    - agnoster-install
  d_i3:
    dst: ~/.config/i3
    src: config/i3
  d_i3status:
    dst: ~/.config/i3status
    src: config/i3status
  d_msmtp:
    dst: ~/.config/msmtp
    src: config/msmtp
  d_offlineimap:
    dst: ~/.config/offlineimap
    src: config/offlineimap
    cmpignore:
      - '*/.venv'
      - '*/.git'
      - '*/__pycache__'
  d_polybar:
    dst: ~/.config/polybar
    src: config/polybar
  d_rofi:
    dst: ~/.config/rofi
    src: config/rofi
  d_screenlayout:
    dst: ~/.screenlayout
    src: screenlayout
  d_scripts:
    dst: ~/scripts
    src: scripts
  d_spacemacs.d:
    dst: ~/.spacemacs.d
    src: spacemacs.d
    actions:
    - spacemacs-install
  d_sxhkd:
    dst: ~/.config/sxhkd
    src: config/sxhkd
  d_tmuxinator:
    dst: ~/.tmuxinator
    src: tmuxinator
  f_aliases:
    dst: ~/.aliases
    src: aliases
  f_bash_profile:
    dst: ~/.bash_profile
    src: bash_profile
  f_bashrc:
    dst: ~/.bashrc
    src: bashrc
  f_compton.conf:
    dst: ~/.compton.conf
    src: compton.conf
  d_qutebrowser:
    dst: ~/.config/qutebrowser
    src: config/qutebrowser
  f_gitconfig:
    dst: ~/.gitconfig
    src: gitconfig
  f_i3-scrot.conf:
    dst: ~/.config/i3-scrot.conf
    src: config/i3-scrot.conf
  f_latexmkrc:
    dst: ~/.latexmkrc
    src: latexmkrc
  f_profile:
    dst: ~/.profile
    src: profile
  f_tmux.conf:
    dst: ~/.tmux.conf
    src: tmux.conf
  f_vimrc:
    dst: ~/.vimrc
    src: vimrc
  f_xinitrc:
    dst: ~/.xinitrc
    src: xinitrc
  f_xprofile:
    dst: ~/.xprofile
    src: xprofile
  f_xresources:
    dst: ~/.Xresources
    src: Xresources
  f_extend.xresources:
    src: extend.Xresources
    dst: ~/.extend.Xresources
    link: nolink
  f_yaourtrc:
    dst: ~/.yaourtrc
    src: yaourtrc
  d_zathura:
    src: config/zathura
    dst: ~/.config/zathura
  f_org-protocol.desktop:
    src: local/share/applications/org-protocol.desktop
    dst: ~/.local/share/applications/org-protocol.desktop
    link: nolink
    actions:
      - update-desktop-database
  d_alacritty:
    src: config/alacritty
    dst: ~/.config/alacritty
  f_startup.jl:
    src: julia/config/startup.jl
    dst: ~/.julia/config/startup.jl
profiles:
  terminal:
    dotfiles:
    - d_fish
    - d_bat
    - d_scripts
    - f_aliases
    - f_bash_profile
    - f_bashrc
    - f_gitconfig
    - f_profile
    - f_tmux.conf
    - f_vimrc
    - f_xinitrc
    - f_xprofile
    - f_xresources
    - f_extend.xresources
  spacemacs_full:
    dotfiles:
    - d_spacemacs.d
    - d_offlineimap
    - d_msmtp
    - f_org-protocol.desktop
  i3:
    dotfiles:
    - d_i3
    - d_i3status
    - d_screenlayout
    - d_sxhkd
  bree:
    include:
    - terminal
    - spacemacs_full
    - i3
    dotfiles:
    - d_polybar
    - d_rofi
    - f_compton.conf
    - f_latexmkrc
    - f_yaourtrc
    - d_dunst
    - d_zathura
    - d_alacritty
    - f_startup.jl
    variables:
      i3gaps: true
      i3gapsize: 10
      i3barposition: top
  murr:
    include:
    - terminal
    - spacemacs_full
    - i3
    dotfiles:
    - d_bat
    - d_zathura
    - f_startup.jl
    variables:
      i3gaps: true
      i3bordersize: 5
      i3gapsize: 32
      i3fontsize: 10
  dev:
    include:
    - terminal
    - spacemacs_full
    dotfiles:
    - d_zathura
    - f_latexmkrc
    - f_startup.jl
    - d_alacritty
  shire:
    include:
    - terminal
    - spacemacs_full
    - i3
    dotfiles:
    - d_zathura
    - d_alacritty
    - f_startup.jl
    - d_qutebrowser
  archlinux:
    include:
    - dev
  arch:
    include:
    - dev
